{% load static %}
{% load crispy_forms_tags %}
<div class="modal fade" id="myModelPersonnel" role="dialog" style="width: 100% !important;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>نام</label>
                        <input type="text" name="Name" maxlength="100" class="textinput textInput form-control" id="id_Name">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>نام خانوادگی * </label>
                        <input type="text" name="Family" maxlength="100" class="textinput textInput form-control" required="" id="id_Family">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <section>
                            <label for="Id_DateBirthDay" class=" requiredField">
                                تاریخ تولد<span class="asteriskField">*</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text cursor-pointer" id="date11"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text" disabled id="inputDate11-text" class="form-control" placeholder="شمسی">
                                <input type="hidden" id="Id_DateBirthDay" name="DateBirthDay" class="form-control" placeholder="میلادی" required>
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>کدملی * </label>
                        <input type="text" name="NationalCode" maxlength="10" class="textinput textInput form-control" required="" id="id_NationalCode">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>شماره شناسنامه</label>
                        <input type="text" name="IdNumber" maxlength="10" class="textinput textInput form-control" id="id_IdNumber">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>شماره منزل</label>
                        <input type="text" name="HomePhoneNumber" maxlength="10" class="textinput textInput form-control" id="id_HomePhoneNumber">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>شماره همراه</label>
                        <input type="text" name="MobileNumber" maxlength="10" class="textinput textInput form-control" id="id_MobileNumber">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>شماره اظطراری</label>
                        <input type="text" name="EmergencyNumber" maxlength="10" class="textinput textInput form-control" id="id_EmergencyNumber">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>ایمیل * </label>
                        <input type="email" name="Email" maxlength="50" class="emailinput form-control" required="" id="id_Email">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>نام کاربری * </label>
                        <input type="text" name="UserName" maxlength="50" class="textinput textInput form-control" required="" id="id_UserName">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>رمز عبور * </label>
                        <input type="text" name="Password" maxlength="50" class="textinput textInput form-control" required="" id="id_Password">
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div id="div_id_Gender" class="form-group">
                            <label for="id_Gender" class=" requiredField">
                                جنسیت<span class="asteriskField">*</span>
                            </label>
                            <select name="Gender" class="select form-control" id="id_Gender">
                                <option value="M" selected="">مذکر</option>
                                <option value="F">مونث</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div id="div_id_MaritalStatus" class="form-group">
                            <label for="id_MaritalStatus" class=" requiredField">
                                وضعیت تأهل<span class="asteriskField">*</span>
                            </label>
                            <select name="MaritalStatus" class="select form-control" id="id_MaritalStatus">
                                <option value="N">مجرد</option>
                                <option value="Y" selected="">متاهل</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <section id="DTMarried">
                            <label for="Id_DateMarried" class=" requiredField">
                                تاریخ ازدواج<span class="asteriskField"></span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text cursor-pointer" id="date22"><i class="fa fa-calendar"></i></span>
                                </div>
                                <input type="text" disabled id="inputDate22-text" class="form-control" placeholder="شمسی" required>
                                <input type="hidden" id="Id_DateMarried" name="DateMarried" class="form-control" placeholder="میلادی">
                            </div>
                        </section>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>وضعیت</label>
                        <select name="IsActive" class="select form-control" id="id_IsActive">
                            <option value="Y" selected="">فعال</option>
                            <option value="N">غیرفعال</option>
                          </select>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a style="float:right" href="#" type="button" data-toggle="modal" data-target="#myModelFieldofStudy">
                            <img src="/static/admin/img/icon-addlink.svg">
                        </a>
                        <label for="IdFieldofStudy" class=" requiredField">
                            رشته تحصیلی<span class="asteriskField">*</span>
                        </label>
                        <select name="IdFieldofStudy" class="select form-control" required="" id="IdFieldofStudy"></select>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="id_IdGradeofStudy" class=" requiredField">
                            مقطع تحصیلی<span class="asteriskField">*</span>
                        </label>
                        <select name="IdGradeofStudy" class="select form-control" id="id_IdGradeofStudy">
                            <option value="SI">سیکل</option>
                            <option value="DI">دیپلم</option>
                            <option value="KA">کاردانی</option>
                            <option value="KAR" selected="">کارشناسی</option>
                            <option value="ARS">کارشناسی ارشد</option>
                            <option value="DR">دکتری</option>
                            <option value="FDR">فوق دکتری</option>
                            <option value="PE">پزشک</option>
                            <option value="PEM">پزشک متخصص</option>
                          </select>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a style="float:right" href="#" type="button" data-toggle="modal" data-target="#myModelORganization">
                            <img src="/static/admin/img/icon-addlink.svg">
                        </a>
                        <label for="IdOrganization" class=" requiredField">
                            سازمان<span class="asteriskField">*</span>
                        </label>
                        <section>
                            <select id="IdOrganization" name="IdOrganization" class="select form-control"></select>
                        </section>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a style="float:right" href="#" type="button" data-toggle="modal" data-target="#myModelGroup">
                            <img src="/static/admin/img/icon-addlink.svg">
                        </a>
                        <label for="IdGroup" class=" requiredField">
                            گروه سازمانی<span class="asteriskField">*</span>
                        </label>
                        <section>
                            <select id="IdGroup1" name="IdGroup" class="select form-control"></select>
                        </section>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <a style="float:right" href="#" type="button" data-toggle="modal" data-target="#myModelPost">
                            <img src="/static/admin/img/icon-addlink.svg">
                        </a>
                        <label for="IdPost" class=" requiredField">
                            سمت سازمانی<span class="asteriskField">*</span>
                        </label>
                        <section>
                            <select id="IdPost" name="IdPost" class="select form-control"></select>
                        </section>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        {% include 'Template/partials/CityProvince.html' %}
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label>آدرس </label>
                        <input type="text" class="textinput textInput form-control" id="Id_Address" required />
                    </div>
                </div>
                <hr>
                <br>
                <input type="button" class="btn btn-success" id="SavePersonnel" value="ثبت"/>
                {% include 'Template/partials/HR/FieldofStudy.html' %}
                {% include 'Template/partials/HR/Group.html' %}
                {% include 'Template/partials/HR/Post.html' %}
                {% include 'Template/partials/HR/Organization.html' %}
            </div>
			<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
			</div>
		</div>
	</div>
</div>
<label style="opacity: 0;" id="LblUser">{{object.IdUser.Id}}</label>
<script>
	$('#date11').MdPersianDateTimePicker({
		targetTextSelector: '#inputDate11-text',
		targetDateSelector: '#Id_DateBirthDay',
		enableTimePicker: false,
        dateFormat: 'yyyy-MM-dd 00:00:00',
      	textFormat: 'yyyy-MM-dd',
	});
	$('#date22').MdPersianDateTimePicker({
		targetTextSelector: '#inputDate22-text',
		targetDateSelector: '#Id_DateMarried',
		enableTimePicker: false,
        dateFormat: 'yyyy-MM-dd 00:00:00',
      	textFormat: 'yyyy-MM-dd',
	});
    function Organization()
    {
        $.ajax({
            url: '{% url 'HR:APIListTopOrganization' %}',
            type: 'GET',
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                $('#IdOrganization').empty()
                for (let i = 0; i < arg.length; i++){
                    if(i == arg.length - 1)
                        $('#IdOrganization').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                    else
                        $('#IdOrganization').append("<option value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                }
            },
            error:function(error){
                debugger;
                alert("217خطایی رخ داد!");
            }
        });
    }
    function FieldofStudy(){
        $.ajax({
            url: '{% url 'HR:APIFieldofStudy' %}',
            type: 'GET',
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                $('#IdFieldofStudy').empty()
                for (let i = 0; i < arg.length; i++){
                    if(i == arg.length - 1)
                        $('#IdFieldofStudy').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                    else
                        $('#IdFieldofStudy').append("<option value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                }
            },
            error:function(error){
                alert("120خطایی رخ داد!");
            }
        });
    }
    function Post(){
        $.ajax({
            url: '{% url 'HR:APIPost' %}',
            type: 'GET',
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                $('#IdPost').empty()
                for (let i = 0; i < arg.length; i++){
                    if(i == arg.length - 1)
                        $('#IdPost').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                    else
                        $('#IdPost').append("<option value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                }
            },
            error:function(error){
                debugger;
                alert("139خطایی رخ داد!");
            }
        });
    }
    function Group()
    {
        $.ajax({
            url: '{% url 'HR:APIGroup' %}',
            type: 'GET',
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                $('#IdGroup1').empty()
                for (let i = 0; i < arg.length; i++){
                    if(i == arg.length -1)
                        $('#IdGroup1').append("<option value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                    else
                        $('#IdGroup1').append("<option value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                }
            },
            error:function(error){
                debugger;
                alert("159خطایی رخ داد!");
            }
        });
    }
    function LSTPersonnel()
    {
        $.ajax({
            url: '{% url 'HR:ApiLISTPersonnel' %}',
            type: 'GET',
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                $('#IdUser').empty()
                debugger;
                for (let i = 0; i < arg.length; i++)
                {
                    if(location.href.toString().search("update")==-1 | location.href.toString().search("Update"))
                    {
                        if (i == arg.length -1)
                            $('#IdUser').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Id + " " + arg[i].Name + " " + arg[i].Family + "</option>")
                        else
                            $('#IdUser').append("<option value='" + arg[i].Id + "'>" + arg[i].Id + " " + arg[i].Name + " " + arg[i].Family + "</option>")
                    }
                    else
                    {
                        var LblUser = document.getElementById("LblUser").innerHTML
                        IdUser = parseInt(LblUser)
                        if (arg[i].Id == IdUser)
                            $('#IdUser').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Id + " " + arg[i].Name + " " + arg[i].Family + "</option>")
                        else
                            $('#IdUser').append("<option value='" + arg[i].Id + "'>" + arg[i].Id + " " + arg[i].Name + " " + arg[i].Family + "</option>")
                    }
                }
            },
            error:function(error){
                alert("304خطایی رخ داد!");
                debugger
            }
        });
    }
    $(document).ready(function(){
        $("#IdGroup1").select2();
        $("#IdPost").select2();
        $("#IdGradeofStudy").select2();
        $("#IdFieldofStudy").select2();
        $('#IdOrganization').select2()
        $("#IdUser").select2();
        Post();
        Group();
        FieldofStudy();
        Organization();
        LSTPersonnel();
    });
    $('#SavePersonnel').click(function(){
            debugger
            var Name = $('#id_Name').val()
            var Family = $('#id_Family').val()
            var Id_DateBirthDay = $('#Id_DateBirthDay').val()
            var Address = $('#id_Address').val()
            var NationalCode = $('#id_NationalCode').val()
            var HomePhoneNumber = $('#id_HomePhoneNumber').val()
            var MobileNumber = $('#id_MobileNumber').val()
            var EmergencyNumber = $('#id_EmergencyNumber').val()
            var Email = $('#id_Email').val()
            var UserName = $('#id_UserName').val()
            var Password = $('#id_Password').val()
            var Id_DateMarried = $('#Id_DateMarried').val()
            var Gender = $('#id_Gender').val()
            var MaritalStatus = $('#id_MaritalStatus').val()
            var IsActive = $('#id_IsActive').val()
            if(IsActive=="on" || IsActive == "true" || IsActive == true)
                IsActive = "Y"
            else
                IsActive = "N"
            var IdFieldofStudy = $('#IdFieldofStudy').val()
            var IdGradeofStudy = $('#id_IdGradeofStudy').val()
            var IdPost = $('#IdPost').val()
            var IdOrganization = $('#IdOrganization').val()
            var IdGroup = $('#IdGroup1').val()
            var IdProvince = $('#SLCProvince').val()
            var IdCity = $('#IdCity').val()
            var IdNumber = $('#id_IdNumber').val()
            if(MaritalStatus == "N"){
                if(Id_DateMarried == "")
                    Id_DateMarried = "1900-01-01 00:00:00"
            }
            else if(MaritalStatus == "Y"){
                if(Id_DateMarried == ""){
                    $('#Id_DateMarried').focus()
                    alert("لطفا تاریخ ازدواج را وارد نمائید")
                    return;
                }
            }
            if(Id_DateBirthDay == ""){
                $('#Id_DateBirthDay').focus()
                alert("لطفا تاریخ تولد را وارد نمائید")
                return;
            }
            if(NationalCode == "")
            {
                alert("لطفا کد ملی را وارد نمائید")
                return
            }
            if(Email == "")
            {
                alert("لطفا ایمیل را وارد نمائید")
                return
            }
            if(UserName == "")
            {
                alert("لطفا نام کاربری را وارد نمائید")
                return
            }
            if(Password == "")
            {
                alert("لطفا رمز عبور را وارد نمائید")
                return
            }
            if(Family == "")
            {
                alert("لطفا نام خانوادگی را وارد نمائید")
                return
            }
			$.ajax({
				url: '{% url 'HR:APIPersonnel' %}',
				type: 'POST',
				dataType:"json",
				contentType:"application/json;charset=utf-8",
				beforeSend: function (xhr, settings) {
					xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
				},
				data:JSON.stringify({'Name':Name,
                                     'Family':Family,
                                     'DateBirthDay':Id_DateBirthDay,
                                     'Address':Address,
                                     'NationalCode':NationalCode,
                                     'IdNumber':IdNumber,
                                     'HomePhoneNumber':HomePhoneNumber,
                                     'MobileNumber':MobileNumber,
                                     'EmergencyNumber':EmergencyNumber,
                                     'Email':Email,
                                     'UserName':UserName,
                                     'Password':Password,
                                     'DateMarried':Id_DateMarried,
                                     'Gender':Gender,
                                     'MaritalStatus':MaritalStatus,
                                     'IsActive':IsActive,
                                     'IdProvince':IdProvince,
                                     'IdGradeofStudy':IdGradeofStudy,
                                     'IdCity':IdCity,
                                     'IdFieldofStudy':IdFieldofStudy,
                                     'IdPost':IdPost,
                                     'IdGroup':IdGroup,
                                     'IdOrganization':IdOrganization,
                                }),
				success: function (arg) {
                    LSTPersonnel()
                    $('#myModelPersonnel').modal('hide')
                    $(".modal-backdrop").remove();
				},
				error:function(error){
                    array = Object.values(error.responseJSON)
                    for (let index = 0; index < array.length; index++) {
                        alert(array[index])
                    }
                    return
				}
			});
        });
    $('#id_MaritalStatus').change(function(){
        if($('#id_MaritalStatus').val() == 'Y'){
            $('#DTMarried').show();
        }
        else{
            $('#DTMarried').hide();
            $('#Id_DateMarried').val("")
            $('#inputDate22-text').val("")
        }
    });
</script>