{% extends 'Template/base.html' %}

{% block title %}{% block title-meta %}
	لیست وام های قابل درخواست
{% endblock %}{% endblock %}


{% block Create %}
    <a href="{% url 'FacilitiesWelfare:Loan-Reg-User' %}" class="badge text-primary">ثبت درخواست وام</a>
{% endblock %}

{% block main %}
    {% if object_list %}
    <table id="TBLLoan" class="table table-striped display table-bordered tableResponse responsive" style="width:100%">
        <thead>
            <tr>
                <th>عنوان</th>
                <th>نوع وام</th>
                <th>تاریخ شروع</th>
                <th>تاریخ پایان</th>
                <th>مبلغ کل</th>
                <th>تعداد اقساط</th>
                <th>مبلغ قسط</th>
                <th>سود وام</th>
                <th>ثبت درخواست</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td data-label="عنوان">{{item.Title}}</td>
                <td data-label="نوع وام">
                    {% if item.status == 'S' %}
                        <div>کوتاه مدت</div>
                    {% elif item.status == 'L' %}
                        <div>بلند مدت</div>
                    {% elif item.status == 'm' %}
                        <div>مساعده مالی</div>
                    {% endif %}
                </td>
                <td data-label="تاریخ شروع">{{item.jStartDateTime}}</td>
                <td data-label="تاریخ پایان">{{item.jEndDateTime}}</td>
                <td data-label="مبلغ کل">{{item.HTotalAmount}} ریال</td>
                <td data-label="تعداد اقساط">{{item.NumberInstallment}}</td>
                <td data-label="مبلغ قسط">{{item.HInstallmentAmount}} ریال</td>
                <td data-label="سود وام">{{item.LoanInterest}}</td>
                <td data-label="ثبت درخواست">
                    <a class="badge text-info" href="{% url 'FacilitiesWelfare:Loan-Reg-User' item.pk %}">ثبت درخواست</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tfoot>
    </table>
    {% else %}
    <div style="min-height:200px;">
        <P class="text-center">
            لیست وام خالی است
        </P>
    </div>
    {% endif %}
{% endblock %}

{% block JS %}
<script>
    $(document).ready(function(){
        function fn(){
            $("#A0").select2();
            $("#A1").select2();
            $("#A2").select2();
            $("#A3").select2();
            $("#A4").select2();
            $("#A5").select2();
            $("#A6").select2();
            $("#A7").select2();
        }
        $('#TBLLoan').DataTable({
            initComplete: function () {
                this.api().columns([0,1,2,3,4,5,6,7]).every( function (ee) {
                    var column = this;
                    var select = $('<select style="width:100% !important" id="A'+ ee +'"><option value=""></option></select>')
                        .appendTo( $(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );
                            column
                                .search(val ? '^'+val+'$' : '', true, false)
                                .draw();
                        });
                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>')
                    });
                    fn();
                });
            }
        });
    });
</script>
{% endblock %}