{% extends 'Template/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
	ویرایش پرسنل
{% endblock %}{% endblock %}

{% block main %}
<a href="{% url 'HR:ListPersonnel' %}">لیست پرسنل</a>
<form method="post">{% csrf_token %}
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.Name|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.Family|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <section>
                <label for="Id_DateBirthDay" class=" requiredField">
                    تاریخ تولد<span class="asteriskField">*</span>
                </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="date11"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" disabled id="inputDate11-text" class="form-control" placeholder="شمسی">
                    <input type="text" id="Id_DateBirthDay" name="DateBirthDay" class="form-control" placeholder="میلادی" required>
                </div>
            </section>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.NationalCode|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.IdNumber|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.HomePhoneNumber|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.MobileNumber|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.EmergencyNumber|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.Email|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.UserName|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.Password|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.Gender|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.MaritalStatus|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <section id="DTMarried">
                <label for="Id_DateMarried" class=" requiredField">
                    تاریخ ازدواج<span class="asteriskField"></span>
                </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text cursor-pointer" id="date22"><i class="fa fa-calendar"></i></span>
                    </div>
                    <input type="text" disabled id="inputDate22-text" class="form-control" placeholder="شمسی" required>
                    <input type="text" id="Id_DateMarried" name="DateMarried" class="form-control" placeholder="میلادی">
                </div>
            </section>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.IsActive|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <a style="float:right" href="#" type="button" data-toggle="modal" data-target="#myModelFieldofStudy">
                <img src="/static/admin/img/icon-addlink.svg">
            </a>
            <label for="IdFieldofStudy" class=" requiredField">
                رشته تحصیلی<span class="asteriskField">*</span>
            </label>
            <select name="IdFieldofStudy" class="select form-control" required="" id="IdFieldofStudy"></select>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.IdGradeofStudy|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.IdOrganization|as_crispy_field}}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <a style="float:right" href="#" type="button" data-toggle="modal" data-target="#myModelGroup">
                <img src="/static/admin/img/icon-addlink.svg">
            </a>
            <label for="IdGroup" class=" requiredField">
                گروه سازمانی<span class="asteriskField">*</span>
            </label>
            <section>
                <select id="IdGroup1" name="IdGroup" class="select form-control"></select>
            </section>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <a style="float:right" href="#" type="button" data-toggle="modal" data-target="#myModelPost">
                <img src="/static/admin/img/icon-addlink.svg">
            </a>
            <label for="IdPost" class=" requiredField">
                سمت سازمانی<span class="asteriskField">*</span>
            </label>
            <section>
                <select id="IdPost" name="IdPost" class="select form-control"></select>
            </section>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {% include 'Template/partials/CityProvince.html' %}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            {{form.Address|as_crispy_field}}
        </div>
    </div>
    <input type="submit" class="btn btn-success" id="SavePersonnel12345" value="ثبت"/>
</form>
{% include 'Template/partials/HR/FieldofStudy.html' %}
{% include 'Template/partials/HR/Group.html' %}
{% include 'Template/partials/HR/Post.html' %}

<label style="opacity: 0;" id="LbljDateBirthDay">{{object.jDateBirthDay}}</label>
<label style="opacity: 0;" id="LblMDateBirthDay">{{object.MDateBirthDay}}</label>

<label style="opacity: 0;" id="LbljDateMarried">{{object.jDateMarried}}</label>
<label style="opacity: 0;" id="LblMDateMarried">{{object.MDateMarried}}</label>

<label style="opacity: 0;" id="LblIdPost">{{object.IdPost.Id}}</label>
<label style="opacity: 0;" id="LblIdGroup">{{object.IdGroup.Id}}</label>
<label style="opacity: 0;" id="LblIdFieldofStudy">{{object.IdFieldofStudy.Id}}</label>
<label style="opacity: 0;" id="LblIdGradeofStudy">{{object.IdGradeofStudy.Id}}</label>
<script>
	$('#date11').MdPersianDateTimePicker({
		targetTextSelector: '#inputDate11-text',
		targetDateSelector: '#Id_DateBirthDay',
		enableTimePicker: false,
        dateFormat: 'yyyy-MM-dd 00:00:00',
      	textFormat: 'yyyy-MM-dd',
	});
	$('#date22').MdPersianDateTimePicker({
		targetTextSelector: '#inputDate22-text',
		targetDateSelector: '#Id_DateMarried',
		enableTimePicker: false,
        dateFormat: 'yyyy-MM-dd 00:00:00',
      	textFormat: 'yyyy-MM-dd',
	});
    function FieldofStudy(){
        var LblIdFieldofStudy = parseInt(document.getElementById("LblIdFieldofStudy").innerText)
        $.ajax({
            url: '{% url 'HR:APIFieldofStudy' %}',
            type: 'GET',
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                $('#IdFieldofStudy').empty()
                for (let i = 0; i < arg.length; i++){
                    if(arg[i].Id == LblIdFieldofStudy)
                        $('#IdFieldofStudy').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                    else
                        $('#IdFieldofStudy').append("<option value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                }
            },
            error:function(error){
                alert("120خطایی رخ داد!");
            }
        });
    }
    function Post(){
        var LblIdPost = parseInt(document.getElementById("LblIdPost").innerText)
        $.ajax({
            url: '{% url 'HR:APIPost' %}',
            type: 'GET',
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                $('#IdPost').empty()
                for (let i = 0; i < arg.length; i++){
                    if(arg[i].Id == LblIdPost)
                        $('#IdPost').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                    else
                        $('#IdPost').append("<option value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                }
            },
            error:function(error){
                debugger;
                alert("139خطایی رخ داد!");
            }
        });
    }
    function Group()
    {
        var LblIdGroup = parseInt(document.getElementById("LblIdGroup").innerText)
        $.ajax({
            url: '{% url 'HR:APIGroup' %}',
            type: 'GET',
            dataType:"json",
            contentType:"application/json;charset=utf-8",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            success: function (arg) {
                $('#IdGroup1').empty()
                for (let i = 0; i < arg.length; i++){
                    if(arg[i].Id == LblIdGroup)
                        $('#IdGroup1').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                    else
                        $('#IdGroup1').append("<option value='" + arg[i].Id + "'>" + arg[i].Title + "</option>")
                }
            },
            error:function(error){
                debugger;
                alert("159خطایی رخ داد!");
            }
        });
    }
    $(document).ready(function(){
        $("#IdGroup1").select2();
        $("#IdPost").select2();
        $("#IdGradeofStudy").select2();
        $("#IdFieldofStudy").select2();
        document.getElementById("Id_DateBirthDay").value = document.getElementById("LblMDateBirthDay").innerText
        document.getElementById("inputDate11-text").value = document.getElementById("LbljDateBirthDay").innerText

        document.getElementById("Id_DateMarried").value = document.getElementById("LblMDateMarried").innerText
        document.getElementById("inputDate22-text").value = document.getElementById("LbljDateMarried").innerText

        Post();
        Group();
        FieldofStudy();
        $('#HRUpdate a').addClass('active')
    });
    $('#id_MaritalStatus').change(function(){
        if($('#id_MaritalStatus').val() == 'Y'){
            $('#DTMarried').show();
        }
        else{
            $('#DTMarried').hide();
            $('#Id_DateMarried').val("")
            $('#inputDate22-text').val("")
        }
    });
</script>
{% endblock %}