{% extends 'Template/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
اضافه کردن دسته ای پرسنل
    {% endblock %}{% endblock %}

{% block main %}
<a href="{% url 'HR:ListPersonnel' %}">لیست پرسنل</a>
<br>
<a href="{% static 'Sample/Personnel.xlsx' %}" target="_blank">فایل نمونه جهت آپلود فایل اکسل</a>
    <p>
        جهت اضافه کردن گروهی پرسنل به نرم افزار پیشنهاد می گردد فایل نمونه اکسل را دانلود فرمائید، سپس مطابق فایل نمونه مشخصات پرسنل را برای ورود به نرم افزار در قسمت زیر انتخاب نمائید و روی دکمه ارسال کلیک نمائید.
    </p>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <input type="file" name="PathFile" accept=".xlsx, .xls"/>
        <br><br>
        <input type="submit" class="btn btn-primary" value="ارسال" />
    </form>
{% endblock %}