{% load static %}
{% load crispy_forms_tags %}

<div class="modal fade" id="myModelCategoryCommodity1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
                <input type="text" class="textinput textInput form-control" required id="CCName"/>
             
                <input type="button" class="btn btn-success" id="BTNModelCategoryCommodity1" value="ثبت"/>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
			</div>
		</div>
	</div>
</div>
<label style="opacity:0;" id="LBlCategoryCommodity">{{object.IdCategoryCommodity.Id}}</label>
<script>
    var LOC = location.href.toString().search("update")
    function CategoryCommodity()
    {
        $.ajax({
			url: '{% url 'inventory:APICategoryCommodityCreate' %}',
			type: 'GET',
			dataType:"json",
			contentType:"application/json;charset=utf-8",
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
			},
			success: function (arg) {
				$('#id_IdCategoryCommodity').empty()
				for (let i = 0; i < arg.length; i++)
				{
					if(LOC != -1)
					{
                        var LBlCategoryCommodity = document.getElementById("LBlCategoryCommodity").innerHTML
						if(arg[i].Id == parseInt(LBlCategoryCommodity))
							$('#id_IdCategory').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Name + "</option>")
						else
							$('#id_IdCategory').append("<option value='" + arg[i].Id + "'>" + arg[i].Name + "</option>")
					}
					else
                    {
                        if(i == arg.length-1)
						    $('#id_IdCategory').append("<option selected value='" + arg[i].Id + "'>" + arg[i].Name + "</option>")
                        else
                            $('#id_IdCategory').append("<option value='" + arg[i].Id + "'>" + arg[i].Name + "</option>")
                    }
				}
			},
			error:function(error){
				alert("56-خطایی رخ داد!");
			}
		});
    }
    $(document).ready(function(){
        CategoryCommodity()
    });
    $('#BTNModelCategoryCommodity1').click(function(){
            var Name = $('#CCName').val()

			$.ajax({
				url: '{% url 'inventory:APICategoryCommodityCreate' %}',
				type: 'POST',
				dataType:"json",
				contentType:"application/json;charset=utf-8",
				beforeSend: function (xhr, settings) {
					xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
				},
				data:JSON.stringify({'Name':Name}),
				success: function (arg) {
                    CategoryCommodity()
					$('#myModelCategoryCommodity1').modal('hide')
					$(".modal-backdrop").remove();
				},
				error:function(error){
                    alert("59-خطایی رخ داده است!")
				}
			});
        });

</script>